

<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Tags Wildberries</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'tags_app/style.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/styles.css">

  </head>
  <body>
    <!-- <header class="header">
      <div class="wrapper">
        <h4>Its our name</h4>
      </div>
    </header> -->

    <main class="main">
      <div class="wrapper">
        <form class="search-form" action="" method="get">
          <input class="search-input" autocomplete="off" name="search_result" placeholder="Я ищу..."></input>
        </form>

        <div class="tags">

          <ul class="tags__list" id="tags__list">
            <div class="show-descr"></div>
            <div class="single-item">
              <li class="tags__list-element" type="main" data-tooltip=""><a href="#" id="link-element"><span id="list_element">жилет</span></a></li>
              <li class="tags__list-element" type="main" data-tooltip="Кардиган – разновидность кофты, состоящая из спинки и двух половин. Классические модели изготовлены из шерсти. У них есть V-образный вырез и пуговицы. Современные вариации могут иметь любую длину, форму рукава. Их вяжут и шьют из широкого спектра материалов."><a href="#" id="link-element"><span id="list_element">кардиган</span></a></li>
              <li class="tags__list-element" type="main" data-tooltip=""><a href="#" id="link-element"><span id="list_element">кофта</span></a></li>
              <li class="tags__list-element" type="main" data-tooltip="Пуловер – отличается от джемпера и свитера V-образным вырезом."><a href="#" id="link-element"><span id="list_element">пуловер</span></a></li>
              <li class="tags__list-element" type="main" data-tooltip="Джемпер –  тот же свитер, но без воротника-стойки. Имеет характерный полукруглый или квадратный вырез. Используются те же материалы."><a href="#" id="link-element"><span id="list_element">джемпер</span></a></li>
              <li class="tags__list-element" type="main" data-tooltip="Жакет – представляет собой часть верхней одежды и является разновидностью пиджака, представленной в разных интерпретациях."><a href="#" id="link-element"><span id="list_element">жакет</span></a></li>
              <li class="tags__list-element" type="main" data-tooltip="Блейзер – мужской или женский свободного покроя пиджак (чаще из тонкого сукна или габардина) с накладными карманами."><a href="#" id="link-element"><span id="list_element">блейзер</span></a></li>
              <li class="tags__list-element" type="main" data-tooltip=""><a href="#" id="link-element"><span id="list_element">рубашка</span></a></li>
              <li class="tags__list-element" type="main" data-tooltip=""><a href="#" id="link-element"><span id="list_element">штаны</span></a></li>
              <li class="tags__list-element" type="main" data-tooltip=""><a href="#" id="link-element"><span id="list_element">джинсы</span></a></li>
              <li class="tags__list-element" type="main" data-tooltip=""><a href="#" id="link-element"><span id="list_element">юбка</span></a></li>
              <li class="tags__list-element" type="main" data-tooltip=""><a href="#" id="link-element"><span id="list_element">пояс</span></a></li>
              <li class="tags__list-element" type="main" data-tooltip=""><a href="#" id="link-element"><span id="list_element">шапка</span></a></li>


            </div>

          </ul>
          <ul class="tags__list" id="tags__list">

            <div class="slider single-item">
            <!-- <a href="#"><img src="./img/vector-left.png" alt="left-arrow"></a> -->
            <li class="tags__list-element" type="additional" data-tooltip=""><a href="#" id="link-element"><span id="list_element">теплый</span></a></li>
            <li class="tags__list-element" type="additional" data-tooltip=""><a href="#" id="link-element"><span id="list_element">вязаный</span></a></li>
            <li class="tags__list-element" type="additional" data-tooltip=""><a href="#" id="link-element"><span id="list_element">большие размеры</span></a></li>
            <li class="tags__list-element" type="additional" data-tooltip=""><a href="#" id="link-element"><span id="list_element">мужской</span></a></li>
            <li class="tags__list-element" type="additional" data-tooltip=""><a href="#" id="link-element"><span id="list_element">на пуговицах</span></a></li>
            <li class="tags__list-element" type="additional" data-tooltip=""><a href="#" id="link-element"><span id="list_element">в рубчик</span></a></li>
            <li class="tags__list-element" type="additional" data-tooltip=""><a href="#" id="link-element"><span id="list_element">повседневный</span></a></li>
            <li class="tags__list-element" type="additional" data-tooltip=""><a href="#" id="link-element"><span id="list_element">без застежки</span></a></li>
            <li class="tags__list-element" type="additional" data-tooltip=""><a href="#" id="link-element"><span id="list_element">оверсайз</span></a></li>
            <li class="tags__list-element" type="additional" data-tooltip=""><a href="#" id="link-element"><span id="list_element">детский</span></a></li>

            <!-- <a href="#"><img src="./img/vector-right.png" alt="right-arrow"></a> -->

            </div>
          </ul>
        </div>

        <!-- <div class="slider single-item">
          <div><img src="img/test.jpg"></div>
          <div><img src="img/test.jpg"></div>
          <div><img src="img/test.jpg"></div>
          <div><img src="img/test.jpg"></div>
          <div><h3>5</h3></div>
          <div><h3>6</h3></div>
        </div> -->

        <div class="display-result">
          <h5>Количество товаров по запросу: 40</h5>
        </div>
      </div>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'tags_app/slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'tags_app/slick/slick-theme.css' %}">
    <script src="{% static 'tags_app/slick/slick.min.js' %}"></script>
    <script src="{% static 'tags_app/script.js' %}"></script>

    <script>
    // работа слайдера
    $('.single-item').slick({
       variableWidth: true,
       infinite: true,
       dots: false,
       slidesToShow: 1,
       slidesToScroll: 1,
       prevArrow: "<img src= \"{% static 'tags_app/img/vector-left.png' %}\" alt='left-arrow' class='prev'>",
       nextArrow: "<img src= \"{% static 'tags_app/img/vector-right.png' %}\" alt='right-arrow' class='next'>",
     });
    </script>
  </body>
</html>
